<dx-load-panel
    [position]="loadPanelPosition"
    [visible]="isLoading">
</dx-load-panel>
<dx-data-grid
    id="gridContainer"
    [dataSource]="datos"
    [showBorders]="true"
	(onRowInserted)="onInitNewRow($event)"
	(onRowUpdating)="update($event)"
	>
	
	<dxo-selection mode="single"></dxo-selection>
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing mode="popup">
        <dxo-texts confirmDeleteMessage=""></dxo-texts>
    </dxo-editing>
<dxi-column
	dataField="CODIGO"
	caption="Identificador"
></dxi-column>

<dxi-column
	dataField="DESCRIPCION"
	width="200"
	caption="Descripción"
></dxi-column>

<dxi-column dataField="FECHA_DESDE" dataType="date" caption="Fecha desde">
	<dxi-validation-rule type="required" message="The OrderDate field is required."></dxi-validation-rule>
</dxi-column>
<dxi-column
	dataField="FECHA_HASTA"
	dataType="date"
	caption="Fecha hasta"
><dxi-validation-rule type="required" message="The OrderDate field is required."></dxi-validation-rule>
</dxi-column>
<dxi-column
width="80"
	dataField="TIPO"
	caption="Tipo valor"
>
<dxo-lookup [dataSource]="seelctTipo"></dxo-lookup>
</dxi-column>
<dxi-column
	dataField="VALOR"
	
	caption="Valor"
></dxi-column>
<dxi-column
	dataField="UNIDAD_MEDIDA"
	caption="UM">
<dxo-lookup [dataSource]="SelectUm"  displayExpr="NOMBRE" valueExpr="NOMBRE"></dxo-lookup>
</dxi-column>
<dxi-column dataField="ESTADO" caption="Estado"  >
	<dxo-lookup [dataSource]="seelctEstados" ></dxo-lookup>
</dxi-column>
<dxi-column dataField="HORAS_TURNO" dataType="number" caption="Horas Turno">  <dxo-format
	type="fixedPoint"
	[precision]="2">
</dxo-format></dxi-column>
</dx-data-grid>


<!-- [coumns]="['CODIGO', 'DESCRIPCION', 'ESTADO', 'FECHA_DESDE', 'HORAS_TURNO', 'ID_UN', 'TIPO', 'UNIDAD_MEDIDA', 'VALOR']" -->
